<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="text-info">Ground_Under</span></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>{{#link-to "songs.new" }}Upload Song{{/link-to}}</li>
            <li>{{#link-to "songs.index"}}All Songs{{/link-to}}</li>
            <li></li>
            <li><a href="#">Your Purchases</a></li>
            <li><a href="#">Your Uploads</a></li>
          </ul>
      <div class="navbar-right">
        <ul class="nav navbar-nav ">
          {{#if session.isAuthenticated}}
            <li><a>
              You are logged in as: {{session.secure.email}}
            </a></li>
            <li>
              <a {{action 'invalidateSession'}}>Logout</a>
            </li>
          {{else}}
            <li><a {{action 'showModal' 'login-modal'}}>login</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</nav>
