<div class="col-sm-6">
  <p class="lead text-center">New Uploads</p>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Name </th>
        <th>Genre</th>
        <th>BPM</th>
        <th>Key</th>
      </tr>
    </thead>
    <tbody>
      <tr>
    <!-- <tr data-link="<%= obstacle_path(obstacle) %>"> -->
        <td> Song name</td>
        <td> song genre</td>
        <td> song bpm</td>
        <td> song key</td>
      </tr>
    </tbody>
  </table>


</div>
<div class="col-sm-6">
  <p class="lead text-center">Top Sellers</p>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Name </th>
        <th>Genre</th>
        <th>BPM</th>
        <th>Key</th>
      </tr>
    </thead>
    <tbody>
      <tr>
    <!-- <tr data-link="<%= obstacle_path(obstacle) %>"> -->
        <td> Song name</td>
        <td> song genre</td>
        <td> song bpm</td>
        <td> song key</td>
      </tr>
    </tbody>
  </table>

</div>
